[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rsubbotools"]
	path = Rsubbotools
	url = https://github.com/nettoyoussef/rsubbotools
